# Email Provider Settings
# If these are set, they will override Firestore global communication settings

RESEND_API_KEY=
BREVO_API_KEY=
SENDGRID_API_KEY=
SENDER_EMAIL=
SENDER_NAME=
DEFAULT_EMAIL_PROVIDER=resend

# Optional: Google / Gmail direct method
GMAIL_USER=
GMAIL_APP_PASSWORD=
